body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--navy-blue-color);
}

.list {
  list-style-type: none;
}

:root {
  --navy-blue-color: #2e2f42;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --slate-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --second-heading-size: 36px;
  --second-heading-weight: 700;
  --third-heading-size: 20px;
  --third-heading-weight: 500;
}

.logo {
  color: var(--navy-blue-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  color: var(--cloud-color);
}

.part-logo {
  color: var(--iris-color);
}

.page-navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.page-link {
  color: var(--navy-blue-color);
  text-decoration: none;
}

.page-link:hover,
.page-link:focus {
  color: var(--ocean-color);
}

.address-link {
  color: var(--slate-color);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-color);
}

.footer-section {
  background-color: var(--navy-blue-color);
}

.footer-note {
  color: var(--cloud-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
}
